@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --twitter-blue: #1DA1F2;
  --dark-black: #14171A;
  --dark-gray: rgb(140, 130, 115);
  --light-gray: rgb(157, 149, 136);
  --extra-light-gray: #E1E8ED;
  --extra-extra-light-gray: #F5F8FA;
}

html,
body,
body>#root {
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: white;
}

textarea,
input {
  background-color: transparent;
}

textarea:focus,
input:focus {
  outline: none;
}